$blue0: rgb(211, 243, 255);
$blue1: rgb(86, 207, 255);
$blue2: rgb(0, 183, 255);
$blue3: rgb(0, 129, 180);
$blue4: rgb(0, 69, 97);
$blue5: rgb(0, 34, 48);

$disabled: rgb(202, 202, 202);
$disabled-bg: rgb(68, 68, 68);

$error: rgb(163, 0, 0);
$valid: rgb(0, 163, 27);

$white: #fff;
$black: #000;